<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="party.liyin.easywifip2p">

    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="true"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application>
        <service
            android:name=".WifiP2PService"
            android:enabled="true"
            android:exported="true"
            android:permission="party.liyin.wifip2p.service" />
    </application>

</manifest>